<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-fake"></ion-back-button>
    </ion-buttons>

    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escanear el Codigo QR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <icon-card>
        <img src="assets/images/QR_Ejemplo.jpg" class="ion-padding">
      </icon-card>
    </ion-card-content>
    
  </ion-card>
 <!-- <ion-button expand="full" (click)="presentAlert()">Escanear</ion-button> -->
 <ion-button expand="full" routerLink="/escanear" >Escanear</ion-button>
 <ion-button expand="full" routerLink="/historial" >Historial</ion-button>
</ion-content>
