<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inio-fake"></ion-back-button>
    </ion-buttons>

    <ion-title>Menu Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item routerLink="/fichapersonal" class="ion-activated">
      <ion-label>Ficha de Alumno</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/escanear" class="ion-activated">
      <ion-label>Registrar Asistencia</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/historial" class="ion-activated">
      <ion-label>Historial de Asistencia</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/noticias" class="ion-activated">
      <ion-label>Noticias</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/proximamente" class="ion-activated">
      <ion-label>Calendario</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/proximamente" class="ion-activated">
      <ion-label>AVA</ion-label>
    </ion-item>
  </ion-card>


  

</ion-content>

