<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="escanear"></ion-back-button>
    </ion-buttons>

    <ion-title>Resultado</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Asignatura: ASIGNATURA
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Seccion : 000V
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Profesor : NULL
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Fecha : 01/08/2022
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Nombre : NULL
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Carerra : NULL
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Correo DUOC : NULL
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Estado : PRESENTE
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Recibo : 0912452008
    </ion-label>
  </ion-item>
  
  <ion-button expand="full" routerLink="/inicio-fake">Volver</ion-button>
</ion-content>
