<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="texto">
      <ion-card-subtitle>Bienvenido Invitado</ion-card-subtitle>
      <ion-card-title>Registrar Asistencia</ion-card-title>
    </ion-card-header>
    <img src="assets/images/Logo.png" class="ion-padding">
    <ion-card-content class="texto1">
      Inicia sesión para Acceder
    </ion-card-content>
    
  </ion-card>



  <ion-button color="success" expand="full" routerLink="/login">Iniciar sesión</ion-button>
  
  <ion-card>
    <ion-card-header>
    
    </ion-card-header>
  
    <ion-card-content class="texto">
      Registrate en la nueva Aplicacion
    </ion-card-content>
  </ion-card>
    
  <ion-button color="" class="blanco" expand="full" routerLink="/registro">Registrar</ion-button>

  
</ion-content>
