<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-fake-d"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item routerLink="/escanear-qr" class="ion-activated">
      <ion-label>Activar QR</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/a" class="ion-activated">
      <ion-label>Alumnos Registrados</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/noticias" class="ion-activated">
      <ion-label>Noticias</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/proximamente" class="ion-activated">
      <ion-label>Calendario</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item routerLink="/proximamente" class="ion-activated">
      <ion-label>AVA</ion-label>
    </ion-item>
  </ion-card>


  

</ion-content>