<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-fake"></ion-back-button>
    </ion-buttons>

    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item routerLink="/restablecer" class="ion-activated">
      <ion-label>Problema con tu Cuenta</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/restablecer-pass" class="ion-activated">
      <ion-label>Restablecer Constraseña</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/restablecer-correo" class="ion-activated">
      <ion-label>Restablecer Correo</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recomendación</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nunca Crees contraseñas con solo letras o numero
      para más seguridad crear una contraseña con caracteres especiales

    </ion-card-content>
    

  </ion-card>
</ion-content>