<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-fake"></ion-back-button>
    </ion-buttons>

    <ion-title>Historial Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Presente</ion-card-title>
    </ion-card-header>  
  </ion-card>

  <ion-card>
    <ion-item routerLink="/historial-asignatura" class="ion-activated">
      <ion-label>NOMBRE_ASIGNATURA_000V</ion-label>
    </ion-item>
    <ion-item routerLink="/historial-asignatura"  class="ion-activated">
      <ion-label>NOMBRE_ASIGNATURA_000V</ion-label>
    </ion-item>
    <ion-item routerLink="/historial-asignatura"  class="ion-activated">
      <ion-label>NOMBRE_ASIGNATURA_000V</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausente</ion-card-title>
    </ion-card-header>  
  </ion-card>

  <ion-card>
    <ion-item routerLink="/historial-asignatura"class="ion-activated">
      <ion-label>NOMBRE_ASIGNATURA_000V</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Justificado</ion-card-title>
    </ion-card-header>  
  </ion-card>
  <ion-card>
    <ion-item routerLink="/historial-asignatura" class="ion-activated">
      <ion-label>NOMBRE_ASIGNATURA_000V</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
